.form-search {
  text-align: center;
}
.input {
  display: block;
  width: 270px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;

  &:last-child {
    margin-bottom: 52px;
  }
  @media screen and (min-width: 768px) {
    display: inline;
    margin-right: 30px;
    margin-top: 27px;
    margin-bottom: 123px;

    &:last-child {
      margin-right: 0px;
      margin-bottom: 123px;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-top: 52px;
    margin-bottom: 133px;
    &:last-child {
      margin-bottom: 133px;
    }
  }
}

.input-choose,
.input::placeholder {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $search-field-color;
  font-size: 16px;
}
.input-choose {
  appearance: none;
  cursor: pointer;
}
.search-icon {
  position: absolute;
  fill: $search-field-color;
  width: 12px;
  height: 12px;
  margin-left: 90px;
  margin-top: 14px;

  z-index: 2;
  @media screen and (min-width: 768px) {
    margin-left: 225px;
    margin-top: 42px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 67px;
  }
}

.choose-icon {
  position: absolute;
  fill: $search-field-color;
  width: 12px;
  height: 12px;
  margin-left: 90px;
  margin-top: 14px;

  z-index: 2;
  @media screen and (min-width: 768px) {
    margin-left: 225px;
    margin-top: 42px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 67px;
  }
}
