.to-top {
  display: none;
  position: fixed;
  bottom: 55px;
  right: -2px;
  z-index: 99;

  cursor: pointer;
  @media screen and(min-width:768px) {
    right: 20px;
  }
  @media screen and(min-width:1280px) {
    right: 30px;
  }
  //   padding: 15px;
}

.to-top-icon {
  width: 30px;
  height: 35px;
  animation: top 1.3s linear 1s infinite alternate;

  @media screen and(min-width:768px) {
    width: 40px;
    height: 55px;
  }
  @keyframes top {
    0% {
      transform: scale(0.75);
      // transform: translateX(0px);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.75);
      // transform: translateX(200px);
    }
  }
}
